#loading {
    position: fixed;
    top: 0;
    left: 0;
    background: red;
    color: white;
}

.bold {
    font-weight: bold;
}

.header_font {
    font-size: 1.5em;
    text-align: center;
    background: white;
    color: #555;
}

.input_font {
    font-size: 1.2em;
    text-align: center;
    background: white;
    color: black;
}

.button_font {
    font-size: 1.5em;
    text-align: center;
    background: #a0a0a0;
    color: white;
}

.toggle_button_font {
    font-size: 1em;
    text-align: center;
    background: #343;
    color: white;
}

.info_font {
    font-size: .7em;
    background: white;
    color: #333;
}

.regular_font {
    font-size: 1em;
    background: white;
    color: #333;
}

.pad_y {
    padding-top: .5em;
    padding-bottom: .5em;
}

.pad_x {
    padding-left: .5em;
    padding-right: .5em;
}

.mar_y {
    margin-top: .5em;
    margin-bottom: .5em;
}

.mar_x {
    margin-left: .5em;
    margin-right: .5em;
}

.full_width {
    width: 100%;
}

.border_none {
    border: none;
}

.border_bottom {
    border-bottom: 1px solid #888;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.fixed_height_huge {
    line-height: 1.7em;
    height: 3em;
}

.fixed_height_big {
    line-height: 1.7em;
    height: 2.3em;
}

.fixed_height_small {
    line-height: 1.7em;
    height: 1.7em;
}

.position_relative {
    position: relative;
}

.bottom_left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom_right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.red_back {
    background: #911;
}

.green_back {
    background: #383;
}

.cursor_pointer {
    cursor: pointer;
}

.size_limited {
/*    max-width: 6em;
    max-height: 2em;
    overflow: auto;*/
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    list-style: none;
    margin: 0;
}